{
  "root": true,
  "env": {
    "node": true,
    "browser": true
  },
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "tsconfig.json"
  },
  "plugins": ["prettier", "@typescript-eslint"],
  "rules": {
    "no-undef": 0,
    "no-unused-vars": 0,
    "no-console": 0,
    "semi": [1, "always"],
    "indent": 0,
    "@typescript-eslint/indent": [0, 2],
    "@typescript-eslint/no-var-requires": 0,
    "prettier/prettier": "error"
  }
}
